/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	h1{
	color: green;
	font-family: sans-serif;
	background-color: black;
}
	div{
	width: 100%;
	height: 100px;
	background-color: blueviolet;
}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	h1{
	color: red;
	font-family: sans-serif;
	background-color: pink;
}
	div{
	width: 100%;
	height: 100px;
	background-color: royalblue;
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1{
	color: yellow;
	font-family: sans-serif;
	background-color: red;
}
	div{
	width: 100%;
	height: 100px;
	background-color: darkcyan;
}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1{
	color: pink;
	font-family: sans-serif;
	background-color: black;
}
	div{
	width: 100%;
	height: 100px;
	background-color: brown;
}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1{
	color: purple;
	font-family: sans-serif;
	background-color: yellow;
}
	div{
	width: 100%;
	height: 100px;
	background-color: palevioletred;
}
}